.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img{
    width: 300px;
    height: 300px;
    margin-top: 50px;
}

.textoFrases{
    font-style: italic;
    color: #dd7b22;
    text-align: center;
}

.container h1{
    color: #dd7b22;
    font-family: 'Lucida Sans';
    font-style: italic;
}

.bnt{
    background-color: black;
    color: #dd7b22;
    border-color: #DDD;
    border-radius: 20px;
    font-family: 'Lucida Sans';
    border-width: 1px;
    margin-top: 50px;
}